useDynLib(gnm)
export(asGnm, checkEstimable, Const, Diag,
       Dref, DrefWeights, exitInfo, Exp, expandCategorical, getContrasts,
       getModelFrame, gnm, instances, Inv, #Log, Logit,
       meanResiduals, MPinv, Mult, MultHomog,
       ofInterest, "ofInterest<-", parameters,
       pickCoef, qrSolve, #Raise,
       residSVD, se,
       Symm, termPredictors, Topo, wedderburn)

import(MASS, stats, Matrix) # classes
importFrom(graphics, plot)  # in plot.gnm; plot.profile.gnm
importFrom(nnet, class.ind) # in gnmTools, expandCategorical
importFrom(qvcalc, qvcalc) # in getContrasts
importFrom(relimp, pickFrom) # in getContrasts

S3method(add1, gnm)
S3method(addterm, gnm)
S3method(alias, gnm)
S3method(anova, gnm)
S3method(asGnm, glm)
S3method(asGnm, lm)
S3method(asGnm, default)
S3method(boxcox, gnm)
S3method(coef, gnm)
S3method(confint, gnm)
S3method(confint, profile.gnm)
S3method(cooks.distance, gnm)
S3method(dfbeta, gnm)
S3method(dfbetas, gnm)
S3method(drop1, gnm)
S3method(dropterm, gnm)
S3method(dummy.coef, gnm)
S3method(effects, gnm)
S3method(fitted, gnm)
S3method(hatvalues, gnm)
S3method(influence, gnm)
S3method(kappa, gnm)
S3method(labels, gnm)
S3method(logtrans, gnm)
S3method(model.frame, gnm)
S3method(model.matrix, gnm)
S3method(plot, gnm)
S3method(plot, profile.gnm)
S3method(predict, gnm)
S3method(print, gnm)
S3method(print, coef.gnm)
S3method(print, profile.gnm)
S3method(print, summary.gnm)
S3method(print, vcov.gnm)
S3method(print, meanResiduals)
S3method(profile, gnm)
S3method(proj, gnm)
S3method(residuals, gnm)
S3method(rstandard, gnm)
S3method(rstudent, gnm)
S3method(summary, gnm)
S3method(summary, meanResiduals)
S3method(termPredictors, default)
S3method(termPredictors, gnm)
S3method(update, gnm)
S3method(variable.names, gnm)
S3method(vcov, gnm)
S3method(weights, gnm)
